#patches-dashboard-quicklinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 2rem;
}

#patches-dashboard-quicklinks .item {
    width: calc(25% - 2rem) !important;
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: unset !important;
    transition: all 0.1s ease;
}

@media (max-width: 1600px) {
    #patches-dashboard-quicklinks {
        gap: 1.5rem;
    }

    #patches-dashboard-quicklinks .item {
        width: calc(50% - 1.5rem) !important;
    }
}

#patches-dashboard-quicklinks .item.green { background-color: rgba(15,50,50) !important; }
#patches-dashboard-quicklinks .item.green:hover { background-color: rgba(25,60,60) !important; }

#patches-dashboard-quicklinks .item.blue { background-color: rgba(50,60,85) !important; }
#patches-dashboard-quicklinks .item.blue:hover { background-color: rgba(60,70,90) !important; }

#patches-dashboard-quicklinks .item.red { background-color: rgba(65,40,50) !important; }
#patches-dashboard-quicklinks .item.red:hover { background-color: rgba(90,50,60) !important; }