#patches-dashboard-quicklinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 2rem;
}

#patches-dashboard-quicklinks .item {
    width: calc(25% - 2rem) !important;
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: unset !important;
    transition: all 0.1s ease;
    border: color-mix(in srgb, var(--bs-card-bg) 50%, gray 50%) !important;
}

@media (max-width: 1600px) {
    #patches-dashboard-quicklinks {
        gap: 1.5rem;
    }

    #patches-dashboard-quicklinks .item {
        width: calc(50% - 1.5rem) !important;
    }
}

.colorCard { background-color: var(--bs-card-bg) !important; }
.colorCard.red { --colorCard-light: #F7D9E3; --colorCard-dark: #392229; }
.colorCard.blue { --colorCard-light: #CBD4F4; --colorCard-dark: #1e253e; }
.colorCard.green { --colorCard-light: #cbf4e3; --colorCard-dark: #1e3e31; }
.colorCard.light { --bs-card-bg: var(--colorCard-light); color: var(--colorCard-dark); }
.colorCard.dark { --bs-card-bg: var(--colorCard-dark); color: var(--colorCard-light); }