.app-navbar-item a.btn.btn-outline {
	margin-right: 0.5rem !important;
  display: inline-flex;
  align-items: center;
  padding-top: calc(var(--bs-btn-padding-y) + 1px);
}

.app-navbar-item a.btn.btn-outline i.fs-2 {
  margin-right: 0.15rem;
}

@media (max-width: 1399px) {
  .app-navbar-item a.btn.btn-outline i.fs-2 {
    display: none !important;
  }
}

.ms-lg-4 {
	margin-right: 0.5rem !important;
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
    border-radius: 4px !important;
}

.app-sidebar-logo {
  max-height: 198px !important;
  overflow: hidden !important;
}

.theme-light-show {
  display: none !important;
}

body {
  height: unset !important;
  min-height: 100% !important;
}

:root {
  --bs-gray-700: #aeaeb7 !important;
}

.json__key {
  color: var(--bs-primary) !important;
}

.fc-popover {
  background-color: var(--bs-card-bg) !important;
}

.app-sidebar-navs {
  overflow: hidden;
  overflow-y: auto !important;
}

div.dataTables_processing {
  top: 4.5rem !important;
}

div.dataTables_wrapper div.dataTables_processing {
  background-color: var(--bs-card-bg) !important;
}

.app-toolbar {
  background-color: transparent !important;
  box-shadow: unset !important;
  border-top: unset !important;
  border-bottom: unset !important;
}

.app-sidebar-menu-primary.menu > .menu-item .menu-item .menu-link {
  color: var(--bs-gray-700) !important;
}

.app-sidebar-menu-primary.menu > .menu-item .menu-item .menu-link .menu-title {
  color: var(--bs-gray-700) !important;
}

.app-sidebar-menu-primary.menu > .menu-item > .menu-link .menu-title, .patches-loaded {
  color: var(--bs-gray-800) !important;
}

.badge:empty,
.d-inline.badge:empty {
  display: none !important;
}

/* rainbow css from https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.d-flex.align-items-center.ms-3.ms-lg-4.d-sm-block.d-none {
  flex-shrink: 0;
}

.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.w-300px {
  width: unset !important;
  max-width: 400px !important;
}