#patches-dashboard-quicklinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.25rem;
    margin-bottom: 2.25rem;
}

#patches-dashboard-quicklinks .item {
    width: calc(25% - 2.25rem) !important;
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-decoration: unset !important;
}